@CHARSET "GB18030";
#if1
{

	position:absolute;
	left:273px;
	top:75px;
}
#if2
{

	position:absolute;
	left:296px;
	top:75px;
}
#if3
{

	position:absolute;
	left:320px;
	top:75px;
}
#if4
{

	position:absolute;
	left:343px;
	top:75px;
}
#if5
{

	position:absolute;
	left:382px;
	top:87px;
}
#if6
{

	position:absolute;
	left:407px;
	top:87px;
}
#if7
{
	position:absolute;
	left:432px;
	top:87px;
}
#if8
{

	position:absolute;
	left:456px;
	top:87px;
}